{% extends 'login/main.html' %}

{% block content %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Время</th>
      <th scope="col">Предмет</th>
      <th scope="col">Кабинет</th>
      <th scope="col">Преподаватель</th>
    </tr>
  </thead>
  <tbody>

    {% for i in courses %}
      <tr>
        <th>{{i.time}}</th>
        <td>{{i.name}}</td>
        <td>{{i.room}}</td>
        <td>{{i.teacher}}</td>
        <td><a href="#">Изменить</a></td>
      </tr>
    {% endfor %}

  </tbody>
</table>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
{% endblock%}
