{% extends 'login/main.html' %}

{% block title %}
  <title>Сроки</title>
{% endblock %}

{% block content %}
<a href="add" class="btn btn-dark btn-lg active " role="button" aria-pressed="true">Добавить дедлайн</a>

<table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Дедлайн</th>
        <th>Что нужно сделать</th>
        <th>Предмет</th>
        <th>Преподователь</th>
      </tr>
    </thead>
    <tbody>
        {%  for val in object_list %}
            <tr>
                <th scope="row"></th>
                <th>{{val.deadlines|date:"d-n-Y"}}</th>
                <td>{{val.name}}</td>
                <td>{{val.subject}}</td>
                <td>{{val.teacher}}</td>
            </tr>
        {%  endfor %}

    </tbody>
  </table>

{% endblock%}
