
body {
  font-family: Oswald-Regular;
  background: #E6E6E6 !important;
}
.hello-msg{
  font-size: 18px;
  color: #fff;
  margin-right: 20px;
}
.hello-msg a{
  font-size: 18px;
  color: #fff;
  margin-right: 20px;
}
.navbar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 60%;
  background: #333333;
  border-radius: 30px;
}
.navbar-nav {
  color: #fff;
  font-size: 18px;
}

a .nav-item .nav-link {
  color: #fff;
}
